@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');

/* base styles */
* {
    margin: 10px;
    font-family: "Comic Neue", monospace;
    color: black;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-title {
    text-align: start;
    font-size: large;
    margin-top: 20px;
    font-family: "Comic Sans MS", monospace;
}

.field {
    text-align: start;
    font-size: medium;
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: 1px #282c34;
    border-radius: 10px;
    margin: 20px;
    font-family: "Comic Sans MS", sans-serif;
}

.error {
    text-align: center;
    color: red;
}

.instructions {
    display: grid;
    place-items: center;
}

.ul {
    text-align: center;
    font-family: "Comic Sans MS", monospace;
}

.rounded_button {
    border: #282c34;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 8px 0 black;
    color: black;
    padding: 15px;
    margin: 20px auto;
    width: 200px;
}

.rounded_button:hover {
    box-shadow: 0 4px 8px 0 darkgray;
}

.card{
    width: 50%;
    display: inline-block;
    box-shadow: 2px 2px 20px wheat;
    border-radius: 5px;
    margin: 2%;
    transition: 0.3s;
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.appbar-trailing {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.appbar-username {
    font-family: "Comic Sans MS", monospace;
    text-align: center;
    border: thin black;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0 4px 20px 0 black;
    /*line-height: 30px;*/
}

.neon-light {
    text-align: center;
    animation: neon 3s ease-in-out infinite;
    font-family: "Comic Sans MS", monospace;
    font-size: xxx-large;
}



.text-title {
    text-align: center;
    font-size: x-large;
    font-family: "Comic Sans MS", monospace;
}

@keyframes neon {
    from { color: cyan }
    50%  { color: red }
    to { color: orange }
}

.splash {
    max-width: 600px;
    max-height: 600px;
    margin: 60px auto;
    padding: 40px;
}

.next {
    color: white;
    border: thin black;
    border-radius: 7px;
    height: 50px;
    max-width: 600px;
    min-width: 300px;
    margin: 20px auto;
    background: black;
}

.h1Tod {
    color: black;
    text-underline: black;
    padding: 30px;
    text-align: center;
    /*font-family: "Comic Neue";*/
}

.player-preview {
    padding: 20px 30px;
    margin: 20px 0;
    border-bottom: 2px solid mintcream;
}

.player-preview:hover {
    box-shadow: 1px 3px 5px darkorange;
}

.player-preview h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 8px;
}

.player-preview h3 {
    font-size: 30px;
    color: chartreuse;
    margin-bottom: 8px;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

